<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('partials/header.ejs'); %>
</head>
<body>
    <nav>
        <ul class="nav-links">
            <li class="nav-link colormode-toggle">
                <input type="checkbox" name="colormode-checkbox" id="colormode-checkbox" onchange="toggleDarkMode()" />
                <i class="fa fa-angle-double-down"></i>
                <label for="colormode-checkbox">
                    <i id="color-toggle-icon" class=""></i>
                </label>
                <i class="fa fa-angle-double-down"></i>
            </li>
        </ul>
    </nav>
    <main>
        <section id="hero" class="section-container">
            <%- include('partials/hero.ejs'); %>
        </section>
        <section id="experience" class="section-container">
            <div id="experience-div" class="section-div">
                <h1 id="experience-header" class="section-header">Experience</h1>
                <%- include('experiences.ejs'); %>
            </div>
            <a href="#projects" class="arrow" id="projects-arrow">
                <i class="fa fa-angle-double-down"></i>
                <p>View Projects</p>
            </a>
        </section>
        <section id="projects" class="section-container">
            <div id="projects-div" class="section-div">
                <h1 id="projects-header" class="section-header">Projects</h1>
                <%- include('projects.ejs'); %>
            </div>
        </section>
        <section id="footer">
            <%- include('partials/footer.ejs'); %>
        </section>
        <a href="#hero" id="arrow-back-up" class="arrow">
            <i class="fa fa-angle-double-up"></i>
        </a>
    </main>
</body>
</html>